body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

.card {
    margin: 30px auto;
    max-width: 950px;
    width: 90%;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 1rem;
    background-color: white;
    padding: 20px;
    background-image: linear-gradient(-225deg, #FFAD83 0%, #82334D 100%);
}

.title {
    text-align: center;
    color: #fff;
}

.cart-items {
    margin-top: 20px;
}

.cart-item {
    display: flex;
    align-items: center;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.product-image {
    width: 100px;
    height: auto;
    border-radius: 10px;
}

.item-details {
    margin-left: 20px;
    color: #fff;
}

.item-name {
    font-size: 18px;
    font-weight: bold;
}

.item-description {
    margin: 5px 0;
    font-size: 14px;
}

.item-quantity, .item-price {
    font-size: 16px;
    margin-top: 5px;
}

.payment-info {
    margin-top: 30px;
    color: #fff;
    text-align: center;
}

.payment-info h2 {
    margin-bottom: 20px;
}

.existing-card, .card-inputs {
    margin-bottom: 20px;
}

.card-inputs label {
    display: block;
    margin: 10px 0;
    text-align: center;
    color: #fff;
}

.card-inputs input {
    width: 88%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.custom-button {
    background-color: #ffa07a;
    width: 200px;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
    transition: background-color 0.4s;
}

.custom-button:hover {
    background-color: #f77775;
}

.button-container {
    display: flex;
    justify-content: center;
}

.empty-cart {
    text-align: center;
    margin-top: 50px;
    color: #fff;
}
