body {
    font-family: Arial, sans-serif;
background-image: url('../images/sfondohome5.png'); /* Specifica il percorso dell'immagine di sfondo */
    background-size: fixed; /* Regola per adattare l'immagine allo schermo */
    background-repeat: repeat;
    overflow-x :hidden;
}

.container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.logo {
    padding: 20px 0;
}

.function-buttons {
    margin: 10px 0;
}

.function-buttons button {
    margin: 0 5px;
    padding: 10px 20px;
    font-size: 16px;
}

.offers, .news, .additional-info {
    margin: 20px 0;
    padding: 20px;
}

.offers .offer-image {
    max-width: 129.1%;
    max-height: 118%;
    margin-top: -3.4%;
    margin-left: -14.5%;
}

.titoloprodotti {
    font-family: 'Lobster', cursive; /* Usa il font Lobster */
    color: black; /* Imposta il colore del testo a nero */
    text-align: center; /* Centra il testo */
    margin: 16% 0; /* Margini superiori e inferiori */
    font-size: 2.5em; /* Imposta una dimensione del font più grande */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Aggiunge un'ombra al testo per decorazione */
    margin-bottom: -10%;
    margin-top: 10%;
}

.goods {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 20px 0;
    margin-top: 13%;
}

.goods .item {
    width: 22%;
    padding: 20px;
    border: 3px black;
    text-align: left;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
     background-color: rgba(255, 255, 255, 1);
      border-radius: 10px;
}

.goods .item img {
    width: 100%;
    max-width: 200px;
    max-height: 200px;
    object-fit: cover;
}

.goods .item h3 {
    margin: 10px 0;
}

.goods .item p {
    margin: 5px 0;
    text-align: center;
}

.goods .item .price {
    font-weight: bold;
    color: black;
}

.goods .item-button {
    margin: 5px 5px 0 0;
    padding: 10px;
    font-size: 14px;
    cursor: pointer;
    width: 100%;
    background-color: #fa706e;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.goods .item-button:hover {
    background-color: #FFAD83;
}

.news {
	    background-color: black;
	        margin-top: 11%;
	        margin-bottom: 0%;
}
.news-banner {
    max-width: 85%;
    height: auto;
    margin-top: 10px;
    margin-left: 7.0%;

}

.explore-catalog-button {
    text-align: center;
    margin-top: 3%;
}

.explore-button {
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    background-color: #fa706e;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    margin-top : 5%;
}

.explore-button:hover {
    background-color: #FFAD83;
}