@charset "ISO-8859-1";/* Fonts Form Google Font ::- https://fonts.google.com/  -:: */
@import url('https://fonts.googleapis.com/css?family=Abel|Abril+Fatface|Alegreya|Arima+Madurai|Dancing+Script|Dosis|Merriweather|Oleo+Script|Overlock|PT+Serif|Pacifico|Playball|Playfair+Display|Share|Unica+One|Vibur');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: linear-gradient(-225deg, #FFAD83 0%, #82334D 100%);
    background-image: linear-gradient(to top, #FFAD83 0%, #82334D 100%);
    background-attachment: fixed;
    background-repeat: no-repeat;

    font-family: 'Vibur', cursive;

    font-family: 'Abel', sans-serif;
    opacity: .95;
    /* background-image: linear-gradient(to top, #d9afd9 0%, #97d9e1 100%); */
}


form {
    width: 90%;
    max-width: 500px;
    height: auto;
    border-radius: 5px;
    margin: 5%  auto;
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
    padding: 4%;
    background-image: linear-gradient(-225deg, #FA706E 50%, #FFAD83 50%);  
}



form .con {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 0 auto;
}

header {
    margin: -10% auto 10% auto;
    text-align: center;
}

header h2 {
    font-size: 250%;
    font-family: 'Playfair Display', serif;
    color: #3e403f;
}

header p {
    letter-spacing: 0.05em;
}

.input-item {
    background: #fff;
    color: #333;
    padding: 14.5px 0px 15px 9px;
    border-radius: 5px 0px 0px 5px;
}

#eye {
    background: #fff;
    color: #333;
    margin: 5.9px 0 0 0;
    margin-left: -20px;
    padding: 15px 9px 19px 0px;
    border-radius: 0px 5px 5px 0px;
    float: right;
    position: relative;
    right: 1%;
    top: -.2%;
    z-index: 5;
    cursor: pointer;
}

input[class="form-input"] {
    width: 100%;
    height: 50px;
    margin-top: 10%;
    padding: 20px;
    font-size: 17px;
    font-family: 'Abel', sans-serif;
    color: #5E6472;
    outline: none;
    border-radius: 5px;
    transition: 0.2s linear;
    margin-bottom: 10px;
}

button {
    display: inline-block;
    color: #252537;
    width: 37%;
    height: 50px;
    padding: 0 20px;
    background: #fff;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s linear;
    margin: -9% auto;
    letter-spacing: 0.05em;
    margin-right: 532px;
    margin-left: 10px;
}


.other{
	margin-right:11%;
	margin-top: -0.5%;
	
}
.sign-up {
    width: 45%;
    margin-top: 4%;
    margin-left: 33%;
    display: inline-block;
    float: center;
    background: #FA706E;
}
.back {
    width: 10%;
    height: 50px;
    margin-top: -3%;
    display: inline-block;
    float: right;
    background: #FFAD83;
    margin-right: 60px;
    text-decoration: none;
}

a{
	text-decoration: none;
	color: black;
}
.log-in {
    background: #C74842;
}
/* Forgot Password button FAF3DD */
.frgt-pass {
    background: transparent;
}

.logo-container {
    height: 100%;
    display: flex;
    align-items: left;
    margin-right: 17px;
}
.logo {
    max-height: 50%;
    max-width: 70%;
    margin-bottom : -17%;
}
.titolo {
    font-weight: bold;
    margin-right : 18%;
    
}

button:hover {
    transform: translateY(3px);
    box-shadow: none;
}

button:hover {
    animation: ani9 0.4s ease-in-out infinite alternate;
}
@keyframes ani9 {
    0% {
        transform: translateY(3px);
    }
    100% {
        transform: translateY(5px);
    }
}

/* Media query per adattare il layout ai dispositivi mobili */
@media screen and (max-width: 600px) {
    form {
        width: 90%;
        margin: 20% auto;
    }
    input[class="form-input"] {
        margin-top: 10%;
    }
    button {
        margin: 8% auto;
    }
}
