<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  
  <display-name>8 maggio TSW</display-name>
  <welcome-file-list>
    <welcome-file>home.jsp</welcome-file>
  </welcome-file-list>
  
  <resource-ref>
    <description>JNDI reference to a data source</description>
    <res-ref-name>jdbc/diceempire</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  
  <jsp-config>
        <taglib>
            <taglib-uri>http://java.sun.com/jsp/jstl/fmt</taglib-uri>
            <taglib-location>/WEB-INF/lib/fmt.tld</taglib-location>
        </taglib>
    </jsp-config>
    
    <error-page>
        <error-code>404</error-code>
        <location>/error.jsp</location>
        
    </error-page>
            <error-page>
        <error-code>500</error-code>
        <location>/error.jsp</location>
    </error-page>
    
        <filter>
        <filter-name>ClickjackingFilter</filter-name>
        <filter-class>diceempire.connection.ClickjackingFilter</filter-class>
    </filter>
    
    <filter-mapping>
        <filter-name>ClickjackingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    
    <servlet>
    <servlet-name>CatalogoProdottiServlet</servlet-name>
    <servlet-class>diceempire.servlet.CatalogoProdottiServlet</servlet-class>
</servlet>

  <servlet>
    <servlet-name>CatalogServlet</servlet-name>
    <servlet-class>diceempire.servlet.CatalogServlet</servlet-class>
  </servlet>
  
  <servlet>
  <servlet-name>CartServlet</servlet-name> 
   <servlet-class>diceempire.servlet.CartServlet</servlet-class>  
   </servlet>
   
     <servlet>
  <servlet-name>AdminCatalogServlet</servlet-name> 
   <servlet-class>diceempire.servlet.AdminCatalogServlet</servlet-class>  
   </servlet>
   
   <servlet>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>diceempire.servlet.LogoutServlet</servlet-class>
</servlet>

<servlet>
    <servlet-name>UpdateCartServlet</servlet-name>
    <servlet-class>diceempire.servlet.UpdateCartServlet</servlet-class>
</servlet>
   
   <servlet>
    <servlet-name>CheckoutServlet</servlet-name>
    <servlet-class>diceempire.servlet.CheckoutServlet</servlet-class>
</servlet>

   <servlet>
    <servlet-name>UpdateCardServlet</servlet-name>
    <servlet-class>diceempire.servlet.UpdateCardServlet</servlet-class>
</servlet>
   
  <servlet-mapping>
    <servlet-name>CatalogServlet</servlet-name>
    <url-pattern>/prodotti</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
  <servlet-name>CartServlet</servlet-name>
  <url-pattern>/carrello</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>CatalogoProdottiServlet</servlet-name>
    <url-pattern>/catalogo</url-pattern>
</servlet-mapping>
  
  <servlet-mapping>
  <servlet-name>AdminCatalogServlet</servlet-name>
  <url-pattern>/catalogoadmin</url-pattern>
  </servlet-mapping>
  
   <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>UpdateCartServlet</servlet-name>
    <url-pattern>/update-cart</url-pattern>
</servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>CheckoutServlet</servlet-name>
    <url-pattern>/checkout</url-pattern>
</servlet-mapping>

  <servlet-mapping>
    <servlet-name>UpdateCardServlet</servlet-name>
    <url-pattern>/update-carta</url-pattern>
</servlet-mapping>

  
  <session-config>
    <session-timeout>30</session-timeout> 
 </session-config>
  
</web-app>